:host {
    display: block;
  }

   h4{ color:     white;
  margin:0,

  }

  .open-close-container {
    padding: 5px 5px 5px 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

/* 
  ja maar dit is ook gewijzigd in masterrrrrrr!!! */