################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RedirectionsAngular/bin/Debug/net461
/.vs/RedirectionsAngular/v15
/RedirectionsAngular/obj
