<section class="box ">
  <header class="panel_header">
      <h2 class="title pull-left">Gestion des redirections</h2>
      <div class="actions panel_actions pull-right">
          <a class="box_toggle fa fa-chevron-down"></a>
      </div>
  </header>
  <div class="content-body">
      <div class="row">
          <div class="col-xs-12">

              <div class="panel-group faq-panels" id="redirectaccordion">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#redirectaccordion" href="#redirectcollapseOne">Gestion des redirections</a>
                          </h4>
                      </div>

                      <div id="redirectcollapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <p>
                                  La fonctionnalité permet de gérer les redirections d'url du site fnac.com
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>