 <form [formGroup]="form" (ngSubmit)="submit()" #formDir="ngForm">
   <div class="row">

     <div class="col-sm-3">
       <input id="redirectId" style="display: none;" class="form-control" formControlName="redirectId"
         placeholder="redirectId" formControlName="redirectId">

       <div class="form-group">
         <label for="domain">Domain</label>
         <select id="domain" class="form-control" formControlName="domainId">
           <option *ngFor="let idValue of domains" [value]="idValue.id">{{idValue.name}}</option>
         </select>
       </div>
       <div class="form-group">
         <label for="sourceType">Type de source</label>
         <select id="sourceType" class="form-control" formControlName="sourceType">
           <option *ngFor="let idValue of sourceTypes" [value]="idValue.id">{{idValue.name}}</option>
         </select>
       </div>

       <div class="form-group">
         <label for="targetType">Type de target</label>
         <select id="targetType" class="form-control" formControlName="targetType">
           <option *ngFor="let idValue of targetTypes" [value]="idValue.id">{{idValue.name}}</option>
         </select>
       </div>

       <div class="form-group">
         <label for="targetType">Type de target</label>
         <input id="source" class="form-control" formControlName="source" type="checkbox">
       </div>

       <button type="submit" class="btn btn-primary">Submit</button>
     </div>
     <div class="col-sm-4">
       <div class="form-group">
         <label for="redirectionType">Type de redirection</label>
         <select id="redirectionType" class="form-control" formControlName="redirectionType">
           <option *ngFor="let idValue of redirectionTypes" [value]="idValue.id">{{idValue.name}}</option>
         </select>
       </div>

       <div class="form-group">
         <label for="source">Source</label>
         <input id="source" class="form-control" formControlName="source" value=''>
       </div>

       <div class="form-group">
         <label for="target">Target</label>
         <input id="target" class="form-control" formControlName="target">

       </div>

     </div>


     <!-- -->
     <p>Form value: {{ form.value | json }}</p>
     <p>Form status: {{ form.status | json }}</p>


   </div>

 </form>


 <div class="course">

 <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

   <ng-container matColumnDef="redirectId">
     <div *matHeaderCellDef>#</div>
     <div *matCellDef="let redirectionModel">{{redirectionModel.redirectId}}</div>
   </ng-container>
   
   <ng-container matColumnDef="sourceTypeString">
     <div *matHeaderCellDef>sourceTypeString</div>
     <div *matCellDef="let redirectionModel">&nbsp;&nbsp;&nbsp;{{redirectionModel.sourceTypeString}}</div>
   </ng-container>
   <ng-container matColumnDef="source">
     <div *matHeaderCellDef>source</div>
     <div *matCellDef="let redirectionModel">&nbsp;&nbsp;&nbsp;{{redirectionModel.source}}</div>
   </ng-container>


   <ng-container matColumnDef="targetTypeString">
      <div *matHeaderCellDef>targetTypeString</div>
      <div *matCellDef="let redirectionModel">&nbsp;&nbsp;&nbsp;{{redirectionModel.targetTypeString}}</div>
    </ng-container>

    <ng-container matColumnDef="target">
        <div *matHeaderCellDef>target</div>
        <div *matCellDef="let redirectionModel">&nbsp;&nbsp;&nbsp;{{redirectionModel.target}}</div>
      </ng-container>

    <ng-container matColumnDef="redirectTypeString">
      <div *matHeaderCellDef>redirectTypeString</div>
      <div *matCellDef="let redirectionModel">&nbsp;&nbsp;&nbsp;{{redirectionModel.redirectTypeString}}</div>
    </ng-container>

 


   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

   <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

 </mat-table>
</div>