 <form [formGroup]="form2" (ngSubmit)="submit()">
   <div class="form-group">
     <label for="domain">Domain</label>
     <select id="domain" class="form-control">
       <option *ngFor="let idValue of domains" [value]="idValue.id">{{idValue.name}}</option>
     </select>
   </div>
   <div class="form-group">
     <label for="sourceType">Type de Source</label>
     <select id="sourceType" class="form-control" formControlname="sourceType">
       <option *ngFor="let idValue of  sourceTypes" [value]="idValue.id">{{idValue.name}}</option>
     </select>
     <div *ngIf="form2.controls.sourceType.touched" class="alert alert-danger">Source Type is required</div>
   </div>
   <div class="form-group">
     <label for="source">Source</label>
     <input id="source" name="source" class="form-control" type="text" formControlname="source" />
     <div *ngIf="form2.controls.source.touched && form2.controls.source.errors.required" class="alert alert-danger">Source is required</div>
   </div>


   rr {{form2.controls.source.required}}
   <!-- <ctrl-dropdown label='Domaine' collectionName='EnumDomain' fcn="domain" ></ctrl-dropdown>
    <div *ngIf="form.controls.domain.touched && !form.controls.domain.valid" class="alert alert-danger">Username is required</div>
    <!-- <div class="form-group">
        <label for="inpSource">Source</label>
      <input class="form-control" id="inpSource" aria-describedby="Source">
    </div>
    <div class="form-group">
        <label for="inpSource">Target</label>
      <ctrl-dropdown collectionName='TargetType' label='Target type'></ctrl-dropdown>
    </div>
    <div class="form-group">
        <label for="inpSource">Target</label>
      <input class="form-control" id="inpSource" aria-describedby="Source">
    </div> -->



   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
