<div>
<button  (click)="showPopup(5)" >click</button>

  <form [formGroup]="form" (ngSubmit)="submit()" #formDir="ngForm">
    <div class="row">

      <div class="col-sm-3">
        <input id="redirectId" style="display: none;" class="form-control" formControlName="redirectId"
          placeholder="redirectId" formControlName="redirectId">

        <div class="form-group">
          <label for="domain" translate>datalabel.domain</label>
          <select id="domain" class="form-control" formControlName="domainId">
            <option *ngFor="let idValue of domains" [value]="idValue.id">{{idValue.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="sourceType" translate>datalabel.sourceType</label>
          <select id="sourceType" class="form-control" formControlName="sourceType">
            <option *ngFor="let idValue of sourceTypes" [value]="idValue.id">{{idValue.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="targetType" translate>datalabel.targetType</label>
          <select id="targetType" class="form-control" formControlName="targetType">
            <option *ngFor="let idValue of targetTypes" [value]="idValue.id">{{idValue.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="targetType" i18n="@@includeDeletions">Type de target</label>
          <input id="source" class="form-control" formControlName="source" type="checkbox">
        </div>

        <button type="submit" class="btn btn-primary" i18n="@@search">Submit</button>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="redirectionType" i18n="@@redirectionType">Type de redirection</label>
          <select id="redirectionType" class="form-control" formControlName="redirectionType">
            <option *ngFor="let idValue of redirectionTypes" [value]="idValue.id">{{idValue.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="source" i18n="@@source">Source</label>
          <input id="source" class="form-control" formControlName="source" value=''>
        </div>

        <div class="form-group">
          <label for="target" >Target</label>
          <input id="target" class="form-control" formControlName="target">
        </div>
      </div>
    </div>
    <!--       
      <p>Form value: {{ form.value | json }}</p>
      <p>Form status: {{ form.status | json }}</p> 
-->
  </form>
  
  <div class="">
    <table class="table">
      <tbody>
        <tr>
          <!-- <td> redirectId </td> -->
          <th translate>datalabel.source</th>
          <th translate>datalabel.sourceType</th>
          <th translate>datalabel.targetType</th>
          <th translate>datalabel.target</th>
          <th translate>datalabel.redirectionType</th>
          <th>{{result?.data?.length}}</th>
        </tr>
        <tr *ngFor="let item of result?.data | paginate: {  itemsPerPage: dtp?.pageSize,
          currentPage: p,
          totalItems: result?.recordsFiltered }">
          <!-- <td>{{item.redirectId}}</td> -->
          <!--style="display:none" <td>{{item.domainId}}</td> -->
          <td>{{item.sourceTypeString}}</td>
          <td>{{item.source}}</td>
          <td>{{item.targetTypeString}}</td>
          <td>{{item.target}}</td>
          <td>{{item.redirectionType}}</td>
          <td>
            <div class="btn-group">
              <a [routerLink]="['/add']" [queryParams]="{id: 2}" class="btn btn-sm btn-info" rel="tooltip"
                data-animate=" animated tada" data-toggle="tooltip" data-container="body" data-original-title="Modifier"
                data-placement="top">
                <fa-icon icon="pen"></fa-icon>
              </a>
              <a data-redirectid="1" (click)="showPopup(item.redirectId)"  class="btn btn-sm btn-danger js-Redirect-delete" rel="tooltip"
                data-animate="animated tada" data-toggle="tooltip" data-container="body" data-original-title="Supprimer"
                data-placement="top">
                <fa-icon icon="trash"></fa-icon>
              </a>
              <a data-redirectid="1" class="btn btn-sm btn-warning " data-toggle="modal" data-container="body"
                data-target="#HistoryModal" rel="tooltip" data-animate="animated tada" data-original-title="Historique"
                data-placement="top">
                <fa-icon icon="history"></fa-icon>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <select #nbItems (change)="selectNbItembyPage($event, nbItems.value)">
      <option value="10">10</option>
      <option value="20" selected>20</option>
      <option value="30">30</option>
    </select>
    <pagination-controls (pageChange)="getPage($event)">
    </pagination-controls>
  </div>

</div>
