<h1 i18n="User welcome|An introduction header for this sample@@introductionHeader">
  Hello i18n!rrrrr
</h1>


<div class="page-sidebar">
  <ul class="sub-menu" >
    <li>
      <a routerLink="/search" routerLinkActive="active">Recherche</a>
    </li>
    <li> <a routerLink="/" routerLinkActive="active">Ajout</a>
    </li>
    <li> <a routerLink="/importer" routerLinkActive="active">Importer</a>
    </li>
    <li><a routerLink="/publier" routerLinkActive="active">Publier</a>
    </li>
  </ul>
</div>