.page-sidebar {
  height: auto;
  width: 260px;
  position: fixed;
  padding: 0px; 
 
  border: 1px;
  margin-top: 60px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
  -webkit-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
  -moz-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
  -o-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
  -ms-box-shadow: 0 0 10px 0 rgba(33, 33, 33, .2);
  min-height: 100%;
  height: auto;
  position: fixed!important;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}